h1{
	color: black;
	font-family: arial;
	padding: 10px;
	background-color: darkred;
}
h2{ 
	color: black;
	font-family: arial;
	padding: 10px ; 
 	background-color: darkred;
 	float


	background:color silver;
	font-family:arial;
	padding: 10px 
	margin:10px 10px 10px 10px ;
	border-radius: 10px solid;
	width: 725px auto;
 P.one {
 	marging: 725px ;
 	border: 20px;
 	text-aling-left;}
 	
 
 	
 p.two {
  text-align: middle 
}