*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

}
.p1{
    border-radius: 2PX;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifS;
    justify-content: space-between;
}
.name1{
    color: rgb(88, 37, 219);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

   
