#{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
body{
    background-color: blue;


}
.header{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10px;

}
.header.logo{
    cursor: pointer;

}
.header.logo img{
    height: 70px;
    width: auto;
}

.header.logo img :hover{
    transform: scale(1.1);

}