

h1{
	 text-align: center;

}

h2{
	border-color: black;
	border: 5px ;
	text-align: center;
	background-color: aqua;
}

#nav, .article {

	background-color: darkgray;
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
	border-color: black;
	border: 5px;

}

.article{

	height: 300px;
}
